In [21]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, recall_score, f1_score
from aif360.datasets import BinaryLabelDataset
from aif360.metrics import ClassificationMetric
from sklearn.model_selection import train_test_split

In [22]:
dataset_path = 'GermanCreditDataset/german_credit_data.csv'
df_raw = pd.read_csv(dataset_path)

In [23]:
def compute_performance_metrics(y_test, y_pred, model_name):
    accuracy = accuracy_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1_score_value = f1_score(y_test, y_pred)
    print(f"{model_name} Accuracy: {accuracy}")
    print(f"{model_name} Recall: {recall}")
    print(f"{model_name} F1 Score: {f1_score_value}")

def compute_classification_metric(dataset, predictions, label_name_v, favorable_label_v, unfavorable_label_v, privileged_attribute, unprivileged_attributes):
    features = [privileged_attribute] + unprivileged_attributes

    aif_sex_dataset = BinaryLabelDataset(
            df=dataset,
            favorable_label=favorable_label_v,
            unfavorable_label=unfavorable_label_v,
            label_names=[label_name_v],
            protected_attribute_names=features,
            privileged_protected_attributes=[privileged_attribute],
        )

    aif_sex_pred = BinaryLabelDataset(
            df=predictions,
            favorable_label=favorable_label_v,
            unfavorable_label=unfavorable_label_v,
            label_names=[label_name_v],
            protected_attribute_names=features,
            privileged_protected_attributes=[privileged_attribute],
        )

    sex_privileged_group = [{privileged_attribute: 1}]
    sex_unprivileged_groups = [{attr: 1} for attr in unprivileged_attributes]

    fairness_metrics = ClassificationMetric(dataset=aif_sex_dataset,
                            classified_dataset=aif_sex_pred,
                            unprivileged_groups=sex_unprivileged_groups,
                            privileged_groups=sex_privileged_group)
    
    return fairness_metrics

def compute_fairness_metrics(fairness_metrics: ClassificationMetric):
    # Values less than 0 indicate that privileged group has higher
    # proportion of predicted positive outcomes than unprivileged group.
    # Value higher than 0 indicates that unprivileged group has higher proportion
    # of predicted positive outcomes than privileged group.
    SPD = round(fairness_metrics.statistical_parity_difference(),3)

    # Measures the deviation from the equality of opportunity, which means that the same
    # proportion of each population receives the favorable outcome. This measure must be equal to 0 to be fair.
    EOD = round(fairness_metrics.equal_opportunity_difference(),3)

    # Average of difference in False Positive Rate and True Positive Rate for unprivileged and privileged groups
    # A value of 0 indicates equality of odds, which means that samples in both the privileged and unprivileged
    # groups have the same probability of being classified positively.
    AOD = round(fairness_metrics.average_odds_difference(),3)

    print(f"Statistical Parity Difference (SPD): {SPD}")
    print(f"Equal Opportunity Difference (EOD): {EOD}")
    print(f"Average Odds Difference: {AOD}")

In [24]:
df_raw.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [26]:
df_raw.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [27]:
columns_to_drop = ["Unnamed: 0"]
df_raw = df_raw.drop(columns=columns_to_drop)
df_raw = df_raw.dropna()

In [28]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 522 entries, 1 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               522 non-null    int64
 1   Sex               522 non-null    object
 2   Job               522 non-null    int64
 3   Housing           522 non-null    object
 4   Saving accounts   522 non-null    object
 5   Checking account  522 non-null    object
 6   Credit amount     522 non-null    int64
 7   Duration          522 non-null    int64
 8   Purpose           522 non-null    object
 9   Risk              522 non-null    object
dtypes: int64(4), object(6)
memory usage: 44.9+ KB

In [8]:
categorical_columns = ["Sex", "Housing", "Saving accounts", "Checking account", "Purpose"]
df_raw = pd.get_dummies(df_raw, columns=categorical_columns)

In [9]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   1000 non-null   int64
 1   Age                          1000 non-null   int64
 2   Job                          1000 non-null   int64
 3   Credit amount                1000 non-null   int64
 4   Duration                     1000 non-null   int64
 5   Sex_female                   1000 non-null   bool
 6   Sex_male                     1000 non-null   bool
 7   Housing_free                 1000 non-null   bool
 8   Housing_own                  1000 non-null   bool
 9   Housing_rent                 1000 non-null   bool
 10  Saving accounts_little       1000 non-null   bool
 11  Saving accounts_moderate     1000 non-null   bool
 12  Saving accounts_quite rich   1000 non-null   bool
 13  Saving accounts_rich         1000 non-null   bool
 14  Checking account_little      1000 non-null   bool
 15  Checking account_moderate    1000 non-null   bool
 16  Checking account_rich        1000 non-null   bool
 17  Purpose_business             1000 non-null   bool
 18  Purpose_car                  1000 non-null   bool
 19  Purpose_domestic appliances  1000 non-null   bool
 20  Purpose_education            1000 non-null   bool
 21  Purpose_furniture/equipment  1000 non-null   bool
 22  Purpose_radio/TV             1000 non-null   bool
 23  Purpose_repairs              1000 non-null   bool
 24  Purpose_vacation/others      1000 non-null   bool
dtypes: bool(20), int64(5)
memory usage: 58.7 KB

In [14]:
df_raw.head()

,Unnamed: 0,Age,Job,Credit amount,Duration,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,...,Checking account_moderate,Checking account_rich,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,0,67,2,1169,6,False,True,False,True,False,...,False,False,False,False,False,False,False,True,False,False
1,1,22,2,5951,48,True,False,False,True,False,...,True,False,False,False,False,False,False,True,False,False
2,2,49,1,2096,12,False,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
3,3,45,2,7882,42,False,True,True,False,False,...,False,False,False,False,False,False,True,False,False,False
4,4,53,2,4870,24,False,True,True,False,False,...,False,False,False,True,False,False,False,False,False,False

In [10]:
X = df_raw.drop(columns="")
y = df_raw[""]

# Define four sets and apply the function
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2, # 0.2 indicates a test set size of 20%
                                                    random_state=42)

KeyError: "['is_recid'] not found in axis"